body {
    height: 100%;
    margin: 0;
    padding: 0;
}
canvas {
    /*
    position: absolute;
    left: -15%;
    top: 278px;

    display: block;*/
}
.canvas{
    display: flex;
    justify-content: center;
}